.top{
    position: fixed;
    top: 0;
    background-color: red;
    display: flex;
    padding: 10px;
    width: 500px;
}
.toutiaoHead{
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 10px;
}
.mail{
    
}
.search{

}